.container {
	padding: 0rem 2.5rem 0rem 2.5rem;
}

.grid-contain {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
	grid-gap: 25px;
	align-items: stretch;
}

article {
	border-radius: 10px;
	border: 2px solid rgba(255, 255, 255, 0.20);
	background: #000011;
	backdrop-filter: blur(35px);
	z-index: 3;
	box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
	transition: all .2s ease-in-out;

}

article img {
	object-fit: cover;
}

article:hover {
	transform: scale(1.03);
}

.grid-contain>article img {
	max-width: 100%;
}

.grid-contain .text {
	padding: 30px;

}